In [1]:
import pandas as pd

In [3]:
df = pd.read_table('/Users/jaredlorince/Dropbox (Uzzi Lab)/results/keyword_burstiness.csv')

In [4]:
df.head()

   keyword  Time  Burstiness
0  theater    60    0.060218
1  theater   120    0.082373
2  theater   180    0.121583
3  theater   240    0.242173
4  theater   300    0.359807